Repository iiasa/ixmp, pull requests merged in 2019-06, with the labels that each got.

#150 Improve reporting (phase 2)
  .gitignore
  .stickler.yml
  .travis.yml
  ci/appveyor-install.ps1
  ci/travis-before_install.sh
  doc/source/api.rst
  doc/source/conf.py
  doc/source/reporting.rst
  ixmp/__init__.py
  ixmp/cli.py
  ixmp/core.py
  ixmp/reporting/__init__.py
  ixmp/reporting/computations.py
  ixmp/reporting/describe.py
  ixmp/reporting/utils.py
  ixmp/testing.py
  requirements.txt
  rixmp/tests/testthat/conftest.R
  rixmp/tests/testthat/test_reporting.R
  setup.py
  tests/conftest.py
  tests/data/report-config-0.yaml
  tests/data/report-describe.txt
  tests/data/report-input.csv
  tests/test_r.py
  tests/test_reporting.py
  tests/test_tutorials.py
  tests/test_utils.py
Labels: enhancement, reporting

#155 Hotfix redefinition of existing units
  ixmp/reporting/utils.py
  tests/test_reporting.py
Labels: bug, reporting

#154 Update README and documentation
  CONTRIBUTING.rst
  CONTRIBUTOR_LICENSE.rst
  NOTICE.rst
  README.md
  doc/README.md
  doc/README.rst
  doc/source/api.rst
  doc/source/bibs/main.bib
  doc/source/index.rst
  doc/source/install.rst
  doc/source/technical_requirements.rst
  doc/source/tutorials.rst
  setup.py
  tutorial/README.md
  tutorial/README.rst
  tutorial/transport/README.md
Labels: documentation
