Repository iiasa/ixmp, pull requests merged in 2020-04, with the labels that each got.

#301 Fix access test by increasing mock server wait time
  ixmp/tests/test_access.py
Labels: ci

#302 Allow missing units in computations.data_for_quantity() log message
  ixmp/reporting/computations.py
Labels: reporting

#305 rixmp installation and use in documentation
  doc/README.rst
  doc/source/install.rst
Labels: docs

#312 Reporting improvements for 2020-W16
  RELEASE_NOTES.rst
  doc/source/reporting.rst
  ixmp/reporting/__init__.py
  ixmp/reporting/computations.py
  ixmp/reporting/key.py
  ixmp/reporting/quantity.py
  ixmp/reporting/utils.py
  ixmp/tests/reporting/__init__.py
  ixmp/tests/reporting/test_computations.py
  ixmp/tests/reporting/test_reporting.py
  ixmp/utils.py
Labels: reporting

#313 Always fetch the pint 'application registry' from within functions
  ixmp/reporting/__init__.py
  ixmp/reporting/computations.py
  ixmp/reporting/quantity.py
  ixmp/reporting/utils.py
Labels: reporting

#318 Exclude JPype 0.7.3 for #279
  ci/conda-requirements.txt
  setup.py
Labels: ci

#320 Add `ixmp show-versions`
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/other.md
  RELEASE_NOTES.rst
  doc/source/install.rst
  ixmp/__init__.py
  ixmp/cli.py
  ixmp/tests/test_cli.py
  ixmp/utils.py
Labels: enh

#316 Improve Reporting exception handling
  RELEASE_NOTES.rst
  ixmp/reporting/__init__.py
  ixmp/reporting/exceptions.py
  ixmp/testing.py
  ixmp/tests/data/reporting-exceptions.ipynb
  ixmp/tests/reporting/test_exceptions.py
Labels: reporting
