Repository iiasa/ixmp, pull requests merged in 2022-05, with the labels that each got.

#443 Handle ±∞ in TimeSeries.add_timeseries()
  README.md
  RELEASE_NOTES.rst
  doc/api-backend.rst
  doc/conf.py
  ixmp/backend/jdbc.py
  ixmp/core/timeseries.py
  ixmp/tests/backend/test_jdbc.py
Labels: bug, backend.jdbc

#446 Add new logo and diagram to Sphinx/RTD docs
  RELEASE_NOTES.rst
  doc/_static/combined-logo-white.png
  doc/_static/combined-logo-white.svg
  doc/_static/favicon.svg
  doc/_static/ix_features.png
  doc/_static/ix_features.svg
  doc/_static/ixmp-logo-white.svg
  doc/conf.py
  doc/index.rst
Labels: enh, docs

#445 Fix Log4Shell (CVE-2021-44228) vulnerabilities - upgrade to log2j 2.17.1
  RELEASE_NOTES.rst
  ixmp/backend/jdbc/ixmp.jar
  ixmp/backend/jdbc/log4j-1.2-api-2.17.1.jar
  ixmp/backend/jdbc/log4j-1.2.17.jar
  ixmp/backend/jdbc/log4j-api-2.17.1.jar
  ixmp/backend/jdbc/log4j-core-2.17.1.jar
  ixmp/backend/jdbc/log4j-slf4j-impl-2.17.1.jar
  ixmp/backend/jdbc/logback-core-1.2.9.jar
  ixmp/backend/jdbc/slf4j-log4j12-1.7.30.jar
Labels: bug, backend.jdbc

#448 Enable windows-latest-py3.10 job using JPype 1.4.0 binaries from PyPI
  .github/workflows/pytest.yaml
Labels: ci

#450 Adjust typing for mypy 0.960 & other minor fixes
  RELEASE_NOTES.rst
  ixmp/core/scenario.py
  ixmp/model/base.py
  ixmp/reporting/reporter.py
Labels: reporting, ci
