Repository iiasa/ixmp, pull requests merged in 2025-05, with the labels that each got.

#571 Clone Scenario.scheme on all clone() calls
  ixmp/backend/ixmp4.py
  ixmp/tests/core/test_scenario.py
Labels: bug, backend.ixmp4

#573 Adjust to ixmp4 changelog and attribute name change
  ixmp/backend/ixmp4.py
  ixmp/backend/ixmp4_io.py
Labels: backend.ixmp4

#575 Adjust for message-ix test suite and tutorials
  RELEASE_NOTES.rst
  ixmp/_config.py
  ixmp/backend/__init__.py
  ixmp/backend/ixmp4.py
  ixmp/cli.py
  ixmp/testing/jupyter.py
  ixmp/tests/backend/test_ixmp4.py
  ixmp/tests/core/test_scenario.py
  ixmp/tests/test_cli.py
  ixmp/tests/test_tutorials.py
  ixmp/util/ixmp4.py
  pyproject.toml
Labels: enh, backend.ixmp4

#576 Depend on released ixmp4 v0.10
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  RELEASE_NOTES.rst
  doc/Makefile
  doc/api-backend.rst
  ixmp/backend/__init__.py
  ixmp/backend/ixmp4.py
  ixmp/core/platform.py
  ixmp/testing/__init__.py
  ixmp/tests/backend/test_jdbc.py
  ixmp/types.py
  pyproject.toml
Labels: enh, docs, ci, backend.ixmp4

#577 Adjust test_jdbc.test_del_ts()
  RELEASE_NOTES.rst
  doc/install.rst
  ixmp/tests/backend/test_jdbc.py
Labels: docs, ci, backend.jdbc

#579 Quiet ixmp4/pandera warnings
  RELEASE_NOTES.rst
  ixmp/_config.py
  ixmp/backend/__init__.py
  ixmp/util/__init__.py
  ixmp/util/ixmp4.py
  pyproject.toml
Labels: enh, backend.ixmp4
